In [29]:
import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [24]:
spss = pd.read_spss("./r25i_os_31.sav")

In [25]:
df = pd.DataFrame(spss)

In [30]:
df.describe()

,idind,uredid_i,uid_i,uid_h,tid_i,tid_h,sid_i,sid_h,rid_i,rid_h,...,uk81315c,uk8.151c,uk8.153c,uk8.152c,uk81511c,uk81512c,uk81513c,uk12b,uk15b,uk19b
count,12554.00000,12554.00000,12554.00000,12554.00000,10963.00000,10963.00000,9745.00000,9745.00000,9732.00000,9732.00000,...,29.00000,675.00000,674.00000,636.00000,167.00000,311.00000,102.00000,322.00000,365.00000,50.00000
mean,33929.14274,346611.57822,109078438.16696,1090784.35431,85040765.46183,850407.62775,85130116.27368,851301.13607,85003815.34474,850038.12752,...,14.31034,9.58963,7.83383,19.16667,8.41916,7.81029,7.37255,2.48447,2.78082,1.80000
std,15782.88251,202218.64086,181149302.08944,1811493.02117,43803391.29133,438033.91276,43740813.75681,437408.13748,43746965.84849,437469.65861,...,16.99391,14.65303,13.85755,14.19539,13.95748,13.41518,13.64683,8.20539,8.63682,7.19694
min,3.00000,401.00000,1000301.00000,10003.00000,1000301.00000,10003.00000,1000301.00000,10003.00000,1000301.00000,10003.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
25%,23392.25000,168001.25000,52003403.00000,520034.00000,48029702.00000,480297.00000,52002102.00000,520021.00000,52004352.00000,520043.50000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
50%,37024.00000,332252.00000,84022303.50000,840223.00000,84007106.00000,840071.00000,84005003.00000,840050.00000,84005702.50000,840057.00000,...,0.00000,0.00000,0.00000,20.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
75%,48029.75000,520709.75000,135003901.75000,1350039.00000,129019505.00000,1290195.00000,129018101.00000,1290181.00000,129015001.25000,1290150.00000,...,30.00000,30.00000,10.00000,30.00000,20.00000,15.00000,1.50000,0.00000,0.00000,0.00000
max,58397.00000,700203.00000,1402453305.00000,14024533.00000,161601504.00000,1616015.00000,161601504.00000,1616015.00000,161600503.00000,1616005.00000,...,50.00000,50.00000,50.00000,50.00000,50.00000,50.00000,55.00000,40.00000,35.00000,30.00000

In [27]:
print(len(df[df['u_marst'] == 'Состоите в зарегистрированном браке']))

5218

In [58]:
d = {x : len(df[df['u_marst'] == x]) for x in list(df['u_marst'].dtype.categories)}

In [59]:
d

{'Bдовец (вдова)': 1457,
 'Живете вместе, но не зарегистрированы': 1018,
 'ЗАТРУДНЯЮСЬ ОТВЕТИТЬ': 8,
 'НЕТ ОТВЕТА': 1,
 'Никогда в браке не состояли': 2005,
 'ОТКАЗ ОТ ОТВЕТА': 3,
 'ОФИЦИАЛЬНО ЗАРЕГИСТРИРОВАНЫ, НО ВМЕСТЕ НЕ ПРОЖИВАЮТ': 44,
 'Разведены и в браке не состоите': 868,
 'Состоите в зарегистрированном браке': 5218}